<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<!--
	
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>org.wimi.tools.einkaufszettel.server.GreetingServiceImpl</servlet-class> 
	</servlet>
	
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/org_wimi_tools_einkaufszettel/greet</url-pattern> 
	</servlet-mapping>
	
	-->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Org_wimi_tools_einkaufszettel.html</welcome-file>
	</welcome-file-list>

	<!-- 
		<servlet>
			<servlet-name>loginService</servlet-name>
			<servlet-class>com.google.gwt.sample.stockwatcher.server.LoginServiceImpl</servlet-class> 
		</servlet>
		
		<servlet-mapping>
			<servlet-name>loginService</servlet-name>
			<url-pattern>/einkaufszettel/login</url-pattern> 
		</servlet-mapping>
	-->

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>articleService</servlet-name>
		<servlet-class>org.wimi.tools.einkaufszettel.server.ArticleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>articleService</servlet-name>
		<url-pattern>/org_wimi_tools_einkaufszettel/article</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>